<div class="container">
    <img id="burgerImg" src="/image/burger.png">
    <h1>Eat Da Burger!</h1>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{else}}
        <p>{{item_id}}. {{burger_name}}
            <span><button class="eatBurger btn btn-secondary" data-id="{{item_id}}">
                    {{#if devoured}}Eaten{{else}}EAT!{{/if}}
                </button></span>
        </p>
        {{/if}}
        {{/each}}
    </ul>
</div>


<h2>Eaten: </h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <p>{{item_id}}. {{burger_name}}</p>
    {{/if}}
    {{/each}}
</ul>


<h2>Enter a burger you want to eat</h2>
<form id="newBurger">
    <input type="text" id="burger_name">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>